* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    height: 45rem;           /* 650px  */
    background-image: linear-gradient(blue, white, red);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font: normal 14pt Arial;
}

header {
    color: white;
    text-align: center;
    margin: 1.5rem;
}

section {
    background-color: white;
    border-radius: 0.625rem;           /*10px */
    padding: 1.94rem;
    width: 31.25rem;
    margin: auto;
    box-shadow: 0.31rem 0.31rem 0.625rem rgba(0, 0, 0, 0.349);
    line-height: 3rem;
}

input[type=button] {
    width: 5.8rem;
    height: 2.2rem;
    cursor: pointer;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 1rem; 
}


@media (max-width: 522px) {
    body {
        height: 45rem;
    }

    section {
        width: 28rem;
    }
}

@media (max-width: 450px) {
    section {
        width: 20rem;
    }
}

@media (max-width: 450px) {
    body {
        height: 68rem;
    }

    section {
        width: 18rem;
    }

    span.mobile {
        display: block;
    }

    input[type=number] {
        display: block;
    }

    input[type=button] {
        margin-top: 1.0rem;
    }
}
